<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <h1 class="text-center text-dark">Delete Product</h1>
    <hr class="hr-2 bg-dark w-25">
    <form id="add-product-form" class="form w-25 mx-auto" th:action="@{/products/delete/{id}(id=${productId})}" method="post" enctype="multipart/form-data"><input type="hidden" name="_csrf" value="c686cd14-a7f9-4216-8009-c093b7d3df86">
        <div class="form-group">
            <label for="add-product-name" class="font-weight-bold">Name</label>
            <input type="text" class="form-control text-center" id="add-product-name" name="name" th:value="${product.name}" disabled>
        </div>
        <div class="form-group">
            <label for="add-product-description" class="font-weight-bold">Description</label>
            <textarea name="description" id="add-product-description" cols="41" rows="5" th:text="${product.description}" disabled></textarea>
        </div>
        <div class="form-group">
            <label for="add-product-price" class="font-weight-bold">Price</label>
            <input type="number" step="any" class="form-control text-center" id="add-product-price" name="price" th:value="${product.price}" disabled="">
        </div>
        <div class="form-group">
            <label for="add-product-categories" class="font-weight-bold">Categories</label>
            <select multiple="" class="form-control" id="add-product-categories" name="categories">
                <option th:each="category : ${product.categories}" th:text="${category}" th:value="${category}" readonly></option>
            </select>
        </div>
        <hr class="hr-2 bg-dark w-25">
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-danger">Delete Product</button>
        </div>
    </form>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>