<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <div class="jumbotron bg-light text-center">
        <div class="text-center">
            <img th:src="${product.imageUrl}" width="350" height="350" alt="Product">
        </div>
        <div class="row">
            <div class="col col-md-12 mt-5">
                <h1 th:text="'Name: ' + ${product.name}"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 mt-3">
                <h4 th:text="'Desciption: ' + ${product.description}"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <th:block> <!--th:if="${product.discountedPrice == null}"-->
                    <h4 th:text="'Price: ' + ${product.price}"></h4>
                </th:block>
              <!--  <th:block th:if="${product.discountedPrice != null}">
                    <h4 th:text="'Price: ' + ${product.discountedPrice}"></h4>
                </th:block>-->
            </div>
        </div>
        <div class="row">
            <form class="form w-25 mx-auto" th:action="@{/cart/add-product}" th:method="post">
                <!--<div class="form-group mx-auto">
                    <label for="quantity" class="font-weight-bold">Quantity</label>
                    <input id="quantity" class="form-control text-center" type="number" min="1" max="15" step="1" name="quantity" value="1" />
                </div>
               <input type="hidden" name="id" th:value="${product.id}">
                <button type="submit" class="btn btn-success">Order Product</button>-->
                <div id="main">
                    <table>
                        <tr>
                            <td>
                                <input type="hidden" id = "productName" th:value="${product.name}" th:text="${product.name}" />
                                <label for="quantity" class="font-weight-bold">Quantity</label>
                                <input id="quantity" class="form-control text-center" name="quantity" type=text />
                                <input type=button value="Save"   onclick="SaveItem()">
     <!--                           <p id="text" style="display:none" th:text="|Item: ${product.name} has been added!|" style="color: green"></p>-->
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
           <!-- <div class="product medium-4 columns" data-name="Predator" data-price="250000" data-id="2">
                <img src="https://webdevtrick.com/wp-content/uploads/predator.jpg" alt="" />
                <h3>Predator</h3>
                <input type="number" class="count" value="1" />
                <button class="tiny">Add to cart</button>
            </div>-->
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
<!--<script type="text/template" id="cartT">
    <% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
<%= item.count %> piece<% if(item.count > 1)
{%>s
<%}%> for <%= item.total %>₹</span > </div>
    <% }); %>
</script>
<script  src="function.js"></script>-->
</body>
</html>