<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
    <main class="mt-3">
        <h1 class="text-center text-dark">Edit Product</h1>
        <hr class="hr-2 bg-dark w-25">
        <form id="add-product-form" class="form w-25 mx-auto" th:action="@{/products/edit/{id}(id=${model.id})}"
              method="post" enctype="multipart/form-data" th:object="${model}">
            <div class="form-group">
                <label for="add-product-name" class="font-weight-bold">Name</label>
                <input type="text" class="form-control text-center" id="add-product-name" name="name" th:value="${model.name}">
            </div>
            <div class="form-group">
                <label for="add-product-description" class="font-weight-bold">Description</label>
                <textarea name="description" id="add-product-description" cols="41" rows="5" th:text="${model.description}"></textarea>
            </div>
            <div class="form-group">
                <label for="add-product-price" class="font-weight-bold">Price</label>
                <input type="number" step="any" class="form-control text-center" id="add-product-price" name="price" th:value="${model.price}">
            </div>
            <div class="form-group">
                <label for="add-product-categories" class="font-weight-bold">Categories</label>
                <select multiple="" class="form-control" id="add-product-categories" name="categories" th:field="*{categories}">
                    <option th:each="category : ${categories}"
                    th:value = "${category}" th:text ="${category}"></option>
                </select>
            </div>
            <hr class="hr-2 bg-dark w-25">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Edit Product</button>
            </div>
        </form>
    </main>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

</div>

<script>
    fetch('/categories/fetch')
        .then((response) => response.json())
        .then((json) => {
            let categories = [{"id":"bb1e9332-2637-4919-a882-cbd209e46721","name":"Health"}];
            categories = categories.map(category => category.name);
            console.log(categories);
            json.forEach((category) =>
                $('#add-product-categories').append(
                categories.includes(category.name)
                    ? `<option value="${category.id}" selected>${category.name}</option>`
                : `<option value="${category.id}">${category.name}</option>`));
        })
        .catch((err) => console.log(err));
</script>

</body></html>