<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <h1 class="text-center text-dark">Orders</h1>
    <hr class="hr-2 bg-dark w-75">
    <table class="table table-hover w-75 mx-auto">
        <thead>
        <tr class="row mx-auto">
            <th class="col-md-1 text-center">#</th>
            <th class="col-md-3 text-center">Customer</th>
            <th class="col-md-3 text-center">Date</th>
            <th class="col-md-2 text-center">Total Price</th>
            <th class="col-md-3 text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="order, iter : ${orders}" th:object="${order}">
            <tr class="row mx-auto">
                <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                <td class="col-md-3 text-center" th:text="*{customer.username}"></td>
                <td class="col-md-3 text-center" th:text="*{#temporals.format(finishedOn, 'dd-MM-yyyy HH:mm') }"></td>
                <td class="col-md-2 text-center" th:text="*{totalPrice}"></td>
                <td class="col-md-2 text-center mx-auto">
                    <div class="text-center">
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{/orders/all/details/{id}(id=*{id})}" class="btn btn-info">Products</a>
                        </th:block>
                        <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
                            <a th:href="@{/orders/my/details/{id}(id=*{id})}" class="btn btn-info">Products</a>
                        </th:block>
                    </div>

                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <hr class="hr-2 bg-dark">
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>