<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <h1 class="text-center text-dark" th:text="|Order: ${order.id}|"></h1>
    <h3 class="text-center text-dark">Products</h3>
    <hr class="hr-2 bg-dark w-75">
    <table class="table table-hover w-75 mx-auto">
        <thead>
        <tr class="row mx-auto">
            <th class="col-md-1 text-center">#</th>
            <th class="col-md-3 text-center">Image</th>
            <th class="col-md-3 text-center">Name</th>
            <th class="col-md-2 text-center">Price</th>
            <th class="col-md-3 text-center">Description</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="product, iter : ${order.products}" th:object="${product}">
            <tr class="row mx-auto">
                <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                <td class="col-md-3 text-center"><img th:src="*{product.imageUrl}" alt="Product" height="70" width="70"></td>
                <td class="col-md-3 text-center" th:text="*{product.name}"></td>
                <td class="col-md-2 text-center" th:text="*{price}"></td>
                <td class="col-md-2 text-center mx-auto" th:text="*{product.description}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <hr class="hr-2 bg-dark">
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>