<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <h1 class="text-center text-dark">Login</h1>
    <hr class="hr-2 bg-dark w-25">
    <form class="form w-25 mx-auto" th:action="@{/users/login}" method="post"><input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b" th:object="${model}">
        <div class="form-group">
            <label for="username" class="font-weight-bold">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username..." name="username">
        </div>
        <div class="form-group">
            <label for="password" class="font-weight-bold">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password..." name="password">
        </div>
        <hr class="hr-2 bg-dark">
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-dark">Login</button>
        </div>
    </form>
    <th:block th:if="${param.error}">
         <div class="text-center" style="color: #ff0000" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
             <!--Wrong Credentials!-->
         </div>
    </th:block>
    <th:block th:if="${param.logout}">
        <div class="text-center" style="color: green">
            Successful logout
        </div>
    </th:block>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>