<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <main class="mt-3">
        <div class="jumbotron bg-light">
            <div class="text-center">
                <h1>HASTAMANQNAN</h1>
                <img src="https://res.cloudinary.com/djk5b6eyu/image/upload/v1593179345/photo/73817_110312455700654_5464467_n_wwyeso.jpg" alt="profileImg">
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h1 th:text="${model.username}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4 th:text="${model.email}"></h4>
                </div>
            </div>
            <hr class="hr-2 bg-dark">
            <div class="button-holder d-flex justify-content-center">
                <a th:href="@{/users/edit}" class="btn btn-dark">Edit Profile</a>
            </div>
        </div>
    </main>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>