<th:block th:fragment = "footer">
    <footer class="mt-3">
        <div class="container-fluid bg-light rounded">
            <div class="text-dark font-weight-bold p-2 text-center">© CopyRight s0g00d BOOT. All
                rights reserved.
            </div>
        </div>
    </footer>
</th:block>