<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block>
    <th:block sec:authorize="isAnonymous()">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded font-weight-bold">
            <a class="navbar-brand" th:href="@{/}">✳✶ F⚽⚽T🎏⚽,LL SH⚽P ✶✳</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#guestNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="guestNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/users/login}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/users/register}">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded font-weight-bold">
            <a class="navbar-brand" th:href="@{/home}">✳✶ F⚽⚽T🎏⚽,LL SH⚽P ✶✳</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="userNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <div class="dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" role="button" id="cartDropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cart
                            </a>
                            <body onload="showShoppingCart()" id="shoppingCart">
                            <div class="dropdown-menu" aria-labelledby="cartDropdown">
                                <form name=ShoppingList>
                                <div class="dropdown-divider"></div>
                                    <div id="items_table">
                                        <table id=list></table>
                                    </div>
                                <div class="text-center">
                                    <a th:href="@{/cart/details}" class="btn btn-dark">Cart</a> <!--id="shoppingCart"-->
                                </div>
                                </form>
                            </div>
                            </body>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/top-offers}">Top Offers</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/orders/my}">My Orders</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/users/profile}">Profile</a>
                    </li>
                    <th:block sec:authorize="hasRole('ROLE_MODERATOR')">
                        <li class="nav-item active">
                            <div class="dropdown show">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="moderatorDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Moderator
                                </a>
                                <div class="dropdown-menu" aria-labelledby="moderatorDropdown">
                                    <a class="dropdown-item" th:href="@{/categories/add}">Add Category</a>
                                    <a class="dropdown-item" th:href="@{/products/add}">Add Product</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" th:href="@{/categories/all}">All Categories</a>
                                    <a class="dropdown-item" th:href="@{/products/all}">All Products</a>
                                </div>
                            </div>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="adminDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <a class="dropdown-item" th:href="@{/users/all}">All Users</a>
                                    <a class="dropdown-item" th:href="@{/orders/all}">All Orders</a>
                                </div>
                            </div>
                        </li>
                    </th:block>
                    <li class="nav-item active">
                        <form action="/logout?login" method="post">
                            <button class="logout-button nav-link">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>
</th:block>