hr.hr-2 {
    height: 2px;
}

.logout-button {
    background: transparent;
    border: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 1) !important;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button:focus {
    outline: none;
}

img.product-image-home {
    width: 200px;
    height: 200px;
    margin: auto;
}

.cart {
    box-shadow: 0 0 5px #DDD;
    padding: 20px;
}
.tiny {
    background-color: #ff6d34;
}
#clear:hover {
    background-color: #ff6d34;
    color: #fff;
}




