<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
    <main class="mt-3">
        <h1 class="text-center text-dark">Shopping Cart</h1>
        <hr class="hr-2 bg-dark w-75">
        <table class="table table-hover w-75 mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-2 text-center">Image</th>
                <th class="col-md-3 text-center">Name</th>
                <th class="col-md-2 text-center">Description</th>
                <th class="col-md-2 text-center">Price</th>
                <th class="col-md-1 text-center">Quantity</th>
                <th class="col-md-2 text-center">Remove</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item, iter : ${items}">
                <body>
                <tr class="row mx-auto">
                    <th class="col-md-2 text-center"><img th:src="${item.imageUrl}" alt="Product" height="100" width="100"></th>

                    <td class="col-md-3 text-center" name="itemName" th:text="${item.name}"></td>
                    <td class="col-md-2 text-center" th:text="${item.description}"></td>
                    <td class="col-md-2 text-center" th:text="${item.price}"></td>
                    <td class="col-md-1 text-center" th:text="${item.quantity}"></td>
                    <td class="col-md-2 text-center">
                        <form th:action="@{/cart/remove-product}" th:method="post">
                            <div class="button-holder d-flex justify-content-center">
                                <input type="hidden" name="name" th:value="*{item.name}">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </div>
                        </form>
                    </td>
                </tr>
                </body>
                </th:block>
            </tbody>
        </table>
        <hr class="hr-2 bg-dark">
        <div class="text-center">
            <h3 th:text="|Total: ${totalPrice}|"></h3>
        </div>
        <form th:action="@{/cart/checkout}" th:method="post">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Checkout</button>
            </div>
        </form>
    </main>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

</div>

<script>

</script>

</body></html>