<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <h1 class="text-center text-dark">Something Went Wrong</h1>
    <hr class="hr-2 bg-dark ">
    <div class="text-center">
        <h3 th:text="${message}" style="color: red;"></h3>
    </div>
    <div class="text-center" >
        <img src="https://res.cloudinary.com/djk5b6eyu/image/upload/v1593179345/photo/73817_110312455700654_5464467_n_wwyeso.jpg" alt="Mnogo si typ sashe">
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>