<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="fragments/navbar"></th:block>
    <main class="mt-3">
        <div class="row d-flex justify-content-between">
            <div class="products-navigation col-md-3">
                <h2 class="font-weight-bold">Navigation</h2>
                <form class="mt-3">
                    <div class="custom-control custom-radio mt-3">
                        <input type="radio" id="allRadio" name="selection"
                               class="custom-control-input"
                               value="all">
                        <label class="h4 custom-control-label" for="allRadio">All</label>
                    </div>
                    <th:block th:each="category : ${categories}" th:object="${category}">
                        <div class="custom-control custom-radio mt-3">
                            <input type="radio" th:id="|*{name.toLowerCase()}Radio|" name="selection"
                                   class="custom-control-input"
                                   th:value="*{name}">
                            <label class="h4 custom-control-label" th:for="|*{name.toLowerCase()}Radio|"
                                   th:text="*{name}"></label>
                        </div>
                    </th:block>
                </form>
            </div>
            <div class="data col-md-8">
                <h1 class="text-center font-weight-bold">Products</h1>
                <div class="products-data"></div>
            </div>
        </div>
    </main>
    <th:block th:replace="fragments/footer"></th:block>
</div>
<script>
    function formatProduct(product) {
        return '<div class="product">'
            + '<div class="text-center">'
            + `<a href="/products/details/${product.id}"><img src="${product.imageUrl}" class="product-image-home img-thumbnail px-auto" alt="Image not loaded..."/></a>`
            + '</div>'
            + `<h5 class="text-center font-weight-bold mt-3">Name: ${product.name}</h5>`
            + `<h5 class="text-center font-weight-bold">Price: ${product.price.toFixed(2)}</h5>`
            + '</div>'
    }

    $(document).ready(function () {
        $('#allRadio').attr('checked', true);

        fetch('http://localhost:8000/products/fetch/all')
            .then((response) => response.json())
            .then((json) => {
                $('.products-data').empty();

                if (json.length === 0) {
                    $('.products-data').append(`<h1 class="text-center font-weight-bold">There are no products in the ${category} category.</h1>`)
                } else {
                    for (let i = 0; i < json.length; i += 3) {
                        console.log(i);
                        $('.products-data').append('<div class="products-row row d-flex justify-content-around mt-5">');
                        if(i < json.length) $('.products-data .products-row:last-child').append(formatProduct(json[i]));
                        if(i + 1 < json.length) $('.products-data .products-row:last-child').append(formatProduct(json[i + 1]));
                        if(i + 2 < json.length) $('.products-data .products-row:last-child').append(formatProduct(json[i + 2]));
                    }
                }
            })
    });

    $('input[type=radio][name=selection]').change(function () {
        let category = $(this).val();

        fetch('http://localhost:8000/products/fetch/' + category)
            .then((response) => response.json())
            .then((json) => {
                $('.products-data').empty();

                if (json.length === 0) {
                    $('.products-data').append(`<h1 class="text-center font-weight-bold">There are no products in the ${category} category.</h1>`)
                } else {
                    for (let i = 0; i < json.length; i += 3) {
                        console.log(i);
                        $('.products-data').append('<div class="products-row row d-flex justify-content-around mt-5">');
                        if(i < json.length) $('.products-data .products-row:last-child').append(formatProduct(json[i]));
                        if(i + 1 < json.length) $('.products-data .products-row:last-child').append(formatProduct(json[i + 1]));
                        if(i + 2 < json.length) $('.products-data .products-row:last-child').append(formatProduct(json[i + 2]));
                    }
                }
            })
    });
</script>
</body>
</html>