<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <div class="jumbotron bg-light">
        <h1 class="display-1 font-italic">Product Shop</h1>
        <hr>
        <p>
            This is the biggest, best online shop! <a th:href="@{/users/login}">Login</a>, if you don't have an account,
            don't hesitate - <a th:href="@{/users/register}">Register</a>
        </p>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>